# communication
requests
pyttsx3
SpeechRecognition 
# knowledge
wikipedia
googletrans
# music
pyaudio
pafy
python-vlc
word2number
# taking selfie
scipy
numpy
imutils
cmake
dlib
# downloading stuff
wget